/* tutorial page layout design */

body { margin:0; font-family: Arial; }

/* header, footer {
    background:black;
    color:white;
    padding:15px;
    text-align:center;
} */

.Tutorial-container {
    display:flex;
    height:80vh;
}

.Tutorial-sidebar {
    width:25%;
    background:#f4f4f4;
    overflow-y:auto;
    padding:15px;
}

.Tutorial-content {
    width:75%;
    padding:20px;
}

.Tutorial-sidebar li {
    cursor:pointer;
    padding:10px;
    border-bottom:1px solid #ccc;
}

.Tutorial-sidebar li:hover {
    background:lab(83.2% 0.35 0.11);
}

.Tutorial-buttons button,
.Tutorial-navBtns button {
    padding:10px 20px;
    margin:10px 10px 0 0;
    cursor:pointer;
}